.navBar{
    background-color: whitesmoke;
    font-display: flex;
    }

.tituloPag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menuNav{
    display: flex;
    justify-content: space-evenly;
}
